<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TYPESAFE_API_KEY</key>
	<string>$(TYPESAFE_API_KEY)</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>PropertyFix</key>
		<string>Base Site Survey uses a precise property pin when you allow it. This is not the battery position.</string>
	</dict>
</dict>
</plist>
